<div class="container">
  <p-card header="Notifications">
  <app-table
    [items]="items()"
    [cols]="cols()"
    [loading]="loading()"
    [(selected)]="selected"
    [showCheckbox]="true"
    [totalRecords]="totalRecords()"
    [inputForm]="searchForm"
    (onRowSelect)="navigateToInvoice($event)"
    (onLazyLoad)="searchNotifications($event)"
    [selectedItemsTemplate]="actions"
  >
    <ng-template #actions>
      <div class="flex gap-2">
        <p-button
          (click)="markAsRead()"
        >
          Mark as read
        </p-button>
      </div>
    </ng-template>
  </app-table>
</p-card>
</div>
@if(openInvoiceDialog()) {
  <app-dialog [dialog]="dialog()" (secondaryActionChange)="openInvoiceDialog.set(false)" [template]="invoiceFormTemplate">
    <ng-template #invoiceFormTemplate>
      <form [formGroup]="createInvoiceForm">
        <div class="form-group">
          <input [disabled]="true" type="text" pInputText formControlName="invoiceNumber" placeholder="Invoice Number" />
          <input [disabled]="true" type="text" pInputText formControlName="invoiceDate" />
          <input [disabled]="true" type="text" pInputText formControlName="amount" />
          <input [disabled]="true" type="text" pInputText formControlName="vatAmount" />
          <input [disabled]="true" type="text" pInputText formControlName="status" />
        </div>
      </form>
    </ng-template>
  </app-dialog>
}
